:root{
    --corprincipal:#9E3E39;
    --corsecundaria:#499E69;
    --corterciaria:#84EAAB;
    --correserva:#EB8983;
}



body{
    
    background-color: var(--corprincipal);

}

h1{
    text-align: center;
    color: var(--corsecundaria);
    font-family: Georgia;

}
p{
    text-align: center;
    color: var(--corterciaria);
    font-family: Arial;
}
img{
    width:auto ;
    margin: auto;
    display: block;
    border-radius: 30px;
    border-color: var(--correserva);
    border-style: solid;
}