:root{
    --corprincipal:#c4deaf;
    --corsecundaria:#327d26;
    --corterciaria:#639d53;
    --correserva:#94be81;
}



body{
    
    background-color: var(--corprincipal);

}

h1{
    text-align: center;
    color: var(--corsecundaria);
    font-family: Georgia;
    font-size: 60px;

}
p{
    text-align: center;
    color: var(--corterciaria);
    font-family: Arial;
    font-size: 36px;
}
img{
    width:auto ;
    margin: auto;
    display: block;
    border-radius: 30px;
    border-color: var(--correserva);
    border-style: solid;
    
}
a{
    color: var(--correserva);
    border-style: solid;
    border-radius: 20%;
    text-align: center;
    
    
}
div{
    display: flex;
}
h2{
    text-align: center;
    color: var(--corsecundaria);
    font-family: Georgia;
}
h3{
    border-style: solid;
    color: var(--corsecundaria);
}