h1,h2{
    color: white;
    text-align: center;
}

body{
    background-color: black;
}
p{
    color: white;
}
img{
    width:auto ;
    margin: auto;
    display: block;
    border-radius: 30px;
    border-color: aqua;
    border-style: solid;
} 

#img1{
    border-radius: 90px;
    border-color: blue;
    border-style: solid;
}
a{
    text-decoration: none;
    background-color: blue;
}