
h1{
    color: blue;
    text-align: center;
    font-family: Georgia;
}

body{
    background-color:black;
}
p{
    color:white;
    font-family: Arial;
    text-align: center;
}
img{
    width:auto ;
    margin: auto;
    display:block;
    border-radius: 70px;
    border-color: blue;
    border-style: solid;
    text-align: left;
    position: static;
    

} 

h2{
    text-align: left;
    color: blue;
}
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
#menu-h{
    list-style: none;
    padding: 0;
    background-color: blue;
}
#menu-h li{
    display: inline;
}
#menu-h li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    font-family: Verdana;
    display: inline;
    transition: background .6s;
}
#menu-h li a:hover{
   background-color: black;
}
li{
    color: blue;
    text-align: center;
}
footer{
    background-color: blue;
}