:root{
    --corprincipal:#c4deaf;
    --corsecundaria:#327d26;
    --corterciaria:#639d53;
    --correserva:#94be81;
}
body{
    background-color: var(--corprincipal);
}

h1,h2{
    text-align: center;
    color: var(--corsecundaria);
}
p{
    font-family: Arial;
    color:var(--corterciaria);
    text-align: center;
    font-family: Arial;
}
img{
    width: auto;
    margin: auto;
    display: block;
    border-color: var(--correserva);
    text-align: right;
    

}
li{
    color: var(--corterciaria);
    text-align: center;
    text-shadow: none;
}


a{
    color: var(--correserva);
    border-style: solid;
    border-radius: 20%;
    text-align: center;
    
    
}
footer{
    text-align: center;
    color: var(--corterciaria);
}
h5{
    border-style: solid;
    border-color: var(--corsecundaria);
}

div{
    display: flex;
    
}
h4{
    border-style: solid;
    color: var(--corsecundaria);
}




